.about-me{

  width: 100%;
  background: #edeeef;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about-title{
  width: 296px;
  font-weight: normal;
}

.line{
  height: 3px;
  width: 40px;
  background: black;
  position: relative;
  margin-left: 14px;
  margin-right: 14px;
}

.personal-description{
  width: 80%;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;

}

.picture-of-me{
  height: 363px;
  width: 300px;
  border-radius: 43px;
  position: relative;

}

.words-about-me{
  margin-left: 40px;
  font-size: 20px;
}
