.projects{
  width: 100%;
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-line{
  height: 3px;
  width: 40px;
  background: black;
  position: relative;
  margin-left: 14px;
  margin-right: 14px;
}

p{
  font-family: 'avenir';
  font-size: 17px;
}

.project-title{
  width: 115px;
  font-weight: normal;
}


h2{
  font-weight: normal;
  align-self: flex-start;
}

.projects-container{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: space-around;
}

.final-project, .css-demo, .ski-free{
  width: 380px;
  height: 400px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-description{
  width: 70%;
  font-style: italic;
  font-size: 12px;
  text-align: center;
}

.project-link{
  font-size: 25px;
}

.project-pic{
  border: 0.1px solid #ccc;
  margin-top: 10px;
  height: 200px;
}
